{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluudo.com</title>
  <script src="../../static/style.js"></script>
  <link rel="stylesheet" href="../../static/styles.css">
</head>

<body onload="myFunction()">
  
       <div class="header" style="color:blue;">
        <a class="pluudo_logo" href="http://localhost:8000">
          <img src="../static/anne/logo.png" alt="Pluudo_logo">
        </a>
        
        <a class="show_hide_desc" onclick="hide()">
         <img src="../static/anne/Pluudo_Show_Text.png" alt="videos_description">
       </a>
     </div>

         <div id="desc" style="text-align:center; "> </div>
         
       <br><br>
        <!-- <button onclick="hide()">Desc</button> 
        <a onclick="hide()">
          <img src="../static/anne/Pluudo_Show_Text.png" alt="">
        </a>
        -->
        <div class="">
          {% for i in obj %}
          {% video i.video as my_video %}
            <div class="videos_list">
              <!-- <div class = "video-container">
                 {% video my_video  %} 
                <img src="{{my_video.thumbnail}}" alt="">
              </div> -->
              <div style="width: 100%; height: auto">

                <a href="http://localhost:8000/video-player?video_id={{i.id}}">
                  <img style="border-radius: 5%; width: 100%; height: auto" src="{{my_video.thumbnail}}" alt="">
                </a>
                
              </div>
              <div class="video_description">
              {{ i.desc }}, {{ i.added }} 
              </div>
              <br> <br> 
            </div> 
          {% endvideo %}  
          {% endfor %}
          </div>
        <div class="footer">
          <div class="footer_dimensions">

              <a class="pluudo_mid_icons" href="">
                <img src="../static/anne/Pluudo_Search.png" alt="Pluudo_Search_icon">
              </a>
              <a class="pluudo_mid_icons" href="">
                <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
              </a>
              <a class="pluudo_mid_icons" href="">
                <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
              </a>

          </div>
          <div>
            <!-- <a class="back_icon" href="#">
              <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
            </a> -->
            <a class="pluudo_icon" href="#">
              <img src="../static/anne/Pluudo_Home.png" alt="Pluudo_Home">
            </a>
          </div>
        </div>
      </div>  

</body>
</html>